
.dbitpage {
}

.dbit_fldGrp {
	display:			inline-block;
	vertical-align:		top;
}

LABEL {
	display:			block;
	font-family:		Helvetica;
	font-size:			0.7em;
}

H1 {
	font-family:		Helvetica;
	font-size:			1.2em;
	text-color:				blue;
}

BODY {
	background:			yellow;
}


	
	
						
	

	