
.dbitpage {
}

.dbit_fldGrp {
	display:			inline-block;
	vertical-align:		top;
}

LABEL {
	display:			block;
	font-family:		Helvetica;
	font-size:			0.7em;
}

H1 {
	font-family:		Helvetica;
	font-size:			1.2em;
	color:				blue;
}

.EntRow DIV {
	display:			inline-block;
	padding:			3pt;
}

.EntDesc {
	width:				200pt;
}

.EntAcc {
	width:				150pt;
}

.EntAmount {
	width:				100pt;
	text-align:			right;
}

.EntQty {
	width:				80pt;
}

.EntObj {
	width:				120pt;
}