

.dbitpage {
}

H1 {
	font-family:		Helvetica;
	font-size:			1.4em;
	color:				darkblue;
}

H2 {
	font-family:		Helvetica;
	font-size:			1.1em;
	color:				blue;
}

.dbitFunction {
	display:			block;
}


	
	
						
	

	